{% extends "@green/layout-view.html.twig" %}

{% block quick_shortcut_table_container %}
    {% include "@green/configurationField/quick-shortcut-configuration-field.html.twig" %}
{% endblock quick_shortcut_table_container %}

{% block action_table_container %}
    {% include "@green/configurationField/action-table-configuration-field.html.twig" %}
{% endblock action_table_container %}

{% block entity_view_container %}
    <div class="panel-body">
        <div class="well">
            <dl class="dl-horizontal">
                <dt>{{ 'label.id'|trans }}</dt>
                <dd>{{ entity.id }}</dd>
                <dt>{{ 'label.name'|trans }}</dt>
                <dd>{{ entity.name }}</dd>
                <dt>{{ 'label.description'|trans }}</dt>
                <dd>{{ entity.description }}</dd>
                <dt>{{ 'label.type'|trans }}</dt>
                <dd>{{ entity.type.name|default('label.na'|trans) }}</dd>
                <dt>{{ 'label.for'|trans }}</dt>
                <dd>{{ entity.for.name|default('label.na'|trans) }}</dd>
                <dt>{{ 'label.universe'|trans }}</dt>
                <dd>{{ entity.universe.name|default('label.na'|trans) }}</dd>
            </dl>
        </div>
    </div>
{% endblock entity_view_container %}

{% block extra_entity_view_container %}
{% endblock %}