<li><a href="{{ path('appbundle_event_add') }}"><i class="icon-clipboard3"></i> {{ 'event.label.create'|trans }}</a></li>
<li class="navigation-divider"></li>
<li><a href="{{ path('appbundle_event_animation_index') }}"><i class="icon-price-tags"></i> {{ 'event_animation.label.name'|trans }}</a></li>
<li><a href="{{ path('appbundle_event_for_index') }}"><i class="icon-price-tags"></i> {{ 'event_for.label.name'|trans }}</a></li>