{% embed "@green/templates/table-panel.html.twig" %}
    {% block table_panel_title %}{{ 'label.events'|trans }}{% endblock %}
    {% block table_panel_btn %}
        <a href="{{ path('appbundle_event_add') }}" type="button" class="btn bg-teal btn-xs btn-labeled"><b><i class="icon-plus2"></i></b> {{ 'event.label.create'|trans }}</a>
    {% endblock %}
    {% block table_panel_th %}
        <th>#</th>
        <th>{{ 'label.datetime'|trans }}</th>
        <th>{{ 'label.play'|trans }}</th>
        <th>{{ 'label.animation'|trans }}</th>
        <th>{{ 'label.for'|trans }}</th>
    {% endblock %}
    {% block table_panel_tr %}
        {% for event in entity.events %}
            <tr>
                <td><a href="{{ path('appbundle_event_view',{'id':entity.id}) }}">{{ entity.id }}</a></td>
                <td>{{ entity.dateTime|date('d/m/y') }}</td>
                <td>{{ entity.play }}</td>
                <td>{{ entity.animation.name|default('label.na'|trans) }}</td>
                <td>{{ entity.for.name|default('label.na'|trans) }}</td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}