{% embed "@green/templates/table-panel.html.twig" %}
    {% block table_panel_title %}{{ 'label.whispers'|trans }}{% endblock %}
    {% block table_panel_btn %}
        <a href="{{ path('appbundle_whisper_add') }}" type="button" class="btn bg-teal btn-xs btn-labeled"><b><i class="icon-plus2"></i></b> {{ 'whisper.label.create'|trans }}</a>
    {% endblock %}
    {% block table_panel_th %}
        <th>#</th>
        <th>{{ 'label.whisp'|trans }}</th>
        <th>{{ 'label.read'|trans }}</th>
        <th>{{ 'label.datetime'|trans }}</th>
        <th>{{ 'label.character'|trans }}</th>
    {% endblock %}
    {% block table_panel_tr %}
        {% for whisper in entity.whispers %}
            <tr>
                <td><a href="{{ path('appbundle_whisper_view',{'id':entity.id}) }}">{{ entity.id }}</a></td>
                <td>{{ entity.whisp }}</td>
                <td>{{ entity.read }}</td>
                <td>{{ entity.dateTime|date('d/m/Y H:i:s') }}</td>
                <td>{{ entity.character.name|default('label.na'|trans) }}</td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}