{% extends "@green/layout-form.html.twig" %}

{% form_theme form _self %}

{% block form_row %}
    {% if label == false %}
        {{- form_widget(form) -}}
    {% else %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form) -}}
                {{- form_errors(form) -}}
            </div>
        </div>
    {% endif %}
{%- endblock form_row %}

{% block main_container %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">{{ label|trans }}</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">
                    {{ form_row(form) }}
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">{{ label|trans }}
                            <i class="icon-arrow-right14 position-right"></i></button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}