<li><a href="{{ path('appbundle_map_add') }}"><i class="icon-plus"></i> {{ 'project.label.create'|trans }}</a></li>
<li><a href="{{ path('appbundle_mapping_map_add') }}"><i class="icon-plus"></i> {{ 'mapping_map.label.create'|trans }}</a></li>
<li class="navigation-divider"></li>
<li><a href="{{ path('appbundle_display_type_index') }}"><i class="icon-price-tags"></i> {{ 'display_type.label.name'|trans }}</a></li>