<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
            <li class="navigation-header"><span>{{ 'label.main'|trans }}</span> <i class="icon-menu" title="Main pages"></i></li>
            <li><a href="{{ path('app_home_index') }}"><i class="icon-home4"></i> <span>{{ 'label.home'|trans }}</span></a></li>
            <li>
                <a href="{{ path('appbundle_character_index') }}"><i class="icon-accessibility"></i> <span>{{ 'character.label.name'|trans }}</span></a>
            </li>
            <li>
                <a href="{{ path('appbundle_bestiary_index') }}"><i class="icon-bug"></i> <span>{{ 'bestiary.label.name'|trans }}</span></a>
            </li>
            <li>
                <a href="{{ path('appbundle_configuration_field_index') }}"><i class="icon-insert-template"></i> <span>{{ 'configuration_field.label.name'|trans }}</span></a>
            </li>
            <li>
                <a href="{{ path('appbundle_whisper_index') }}"><i class="icon-bubbles"></i> <span>{{ 'whisper.label.name'|trans }}</span></a>
            </li>
            <li>
                <a href="{{ path('appbundle_map_index') }}"><i class="icon-map"></i> <span>{{ 'map.label.name'|trans }}</span></a>
            </li>
            <li>
                <a href="{{ path('appbundle_mapping_map_index') }}"><i class="icon-table2"></i> <span>{{ 'mapping_map.label.name'|trans }}</span></a>
            </li>
            <li>
                <a href="{{ path('appbundle_ship_index') }}"><i class="icon-safari"></i> <span>{{ 'ship.label.name'|trans }}</span></a>
            </li>
            <li>
                <a href="{{ path('appbundle_ship_index') }}"><i class="icon-shrink"></i> <span>{{ 'naval_fighting_simulator.label.name'|trans }}</span></a>
            </li>
            <li>
                <a href="{{ path('appbundle_sounds_to_play_index') }}"><i class="icon-address-book"></i> <span>{{ 'sounds_to_play.label.name'|trans }}</span></a>
            </li>
            <li>
                <a href="{{ path('appbundle_universe_index') }}"><i class="icon-joomla"></i> <span>{{ 'universe.label.name'|trans }}</span></a>
            </li>
            <li>
                <a href="{{ path('appbundle_option_index') }}"><i class="icon-equalizer"></i> <span>{{ 'option.label.name'|trans }}</span></a>
            </li>
            <li>
                <a href="{{ path('appbundle_module_index') }}"><i class="icon-cogs"></i> <span>{{ 'module.label.name'|trans }}</span></a>
            </li>
        </ul>
    </div>
</div>