{% extends "@green/layout-view.html.twig" %}

{% block quick_shortcut_table_container %}
    {% include "@green/universe/quick-shortcut-universe.html.twig" %}
{% endblock quick_shortcut_table_container %}

{% block action_table_container %}
    {% include "@green/universe/action-table-universe.html.twig" %}
{% endblock action_table_container %}

{% block entity_view_container %}
    <div class="panel-body">
        <div class="well">
            <dl class="dl-horizontal">
                <dt>{{ 'label.id'|trans }}</dt>
                <dd>{{ entity.id }}</dd>
                <dt>{{ 'label.name'|trans }}</dt>
                <dd>{{ entity.name }}</dd>
                <dt>{{ 'label.display'|trans }}</dt>
                <dd>{{ entity.display }}</dd>
            </dl>
        </div>
    </div>
{% endblock entity_view_container %}

{% block extra_entity_view_container %}
    {% include "@green/ship/quick-shortcut-ship.html.twig" %}
    {% include "@green/map/quick-shortcut-map.html.twig" %}
{% endblock %}