{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div id="homepage-app" class="container text-center">
        {% if is_granted('ROLE_ADMIN') %}
            <h1><a href="{{ path('easyadmin') }}">{% trans %}easyadmin{% endtrans %}</a></h1>
            <hr>
        {% endif %}
        <h1><a href="{{ path('tate-no-yusha-skill') }}">{% trans %}tate-no-yusha-skill{% endtrans %}</a></h1>
        <hr>
        <h1><a href="{{ path('homestuck') }}">{% trans %}homestuck{% endtrans %}</a></h1>
        <hr>
        <h1><a href="{{ path('roleplay') }}">{% trans %}roleplay{% endtrans %}</a></h1>
        <hr>
        {% if is_granted('ROLE_ADMIN') %}
            <h1><a href="{{ path('public_map') }}">{% trans %}public_map{% endtrans %}</a></h1>
            <hr>
        {% endif %}
        <h1><a href="{{ path('app_logout') }}">{% trans %}logout{% endtrans %}</a></h1>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}