<div class="col-xs-6">
    <a href="{{ path('appbundle_module_index') }}" class="btn bg-orange-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-cogs"></i><span>{{ 'module.label.name'|trans }}</span></a>
    <a href="{{ path('appbundle_option_index') }}" class="btn bg-purple-400 btn-block btn-float btn-float-lg" type="button"><i
                class="icon-equalizer"></i><span>{{ 'option.label.name'|trans }}</span></a>
</div>
<div class="col-xs-6">
    <a href="{{ path('appbundle_universe_index') }}" class="btn bg-indigo-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-joomla"></i><span>{{ 'universe.label.name'|trans }}</span></a>
</div>