{% embed "@green/templates/table-panel.html.twig" %}
    {% block table_panel_title %}{{ 'label.ships'|trans }}{% endblock %}
    {% block table_panel_btn %}
        <a href="{{ path('appbundle_ship_add') }}" type="button" class="btn bg-teal btn-xs btn-labeled"><b><i class="icon-plus2"></i></b> {{ 'ship.label.create'|trans }}</a>
    {% endblock %}
    {% block table_panel_th %}
        <th>#</th>
        <th>{{ 'label.name'|trans }}</th>
        <th>{{ 'label.picture'|trans }}</th>
        <th>{{ 'label.playerShip'|trans }}</th>
        <th>{{ 'label.type'|trans }}</th>
        <th>{{ 'label.crew'|trans }}</th>
        <th>{{ 'label.shell'|trans }}</th>
        <th>{{ 'label.sail'|trans }}</th>
        <th>{{ 'label.canon'|trans }}</th>
        <th>{{ 'label.cannonball'|trans }}</th>
    {% endblock %}
    {% block table_panel_tr %}
        {% for ship in entity.ships %}
            <tr>
                <td><a href="{{ path('appbundle_ship_view',{'id':entity.id}) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('appbundle_ship_view',{'id':entity.id}) }}">{{ entity.name }}</a></td>
                <td><img src="{{ asset('uploads/picture/' ~ entity.picture) }}"></td>
                <td>{{ entity.playerShip }}</td>
                <td>{{ entity.type.name|default('label.na'|trans) }}</td>
                <td>{{ entity.crew }}</td>
                <td>{{ entity.shell }}</td>
                <td>{{ entity.sail }}</td>
                <td>{{ entity.canon }}</td>
                <td>{{ entity.cannonball }}</td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}