{% extends "@green/layout-view.html.twig" %}

{% block quick_shortcut_table_container %}
    {% include "@green/map/quick-shortcut-map.html.twig" %}
{% endblock quick_shortcut_table_container %}

{% block action_table_container %}
    {% include "@green/map/action-table-map.html.twig" %}
{% endblock action_table_container %}

{% block entity_view_container %}
    <div class="panel-body">
        <div class="well">
            <dl class="dl-horizontal">
                <dt>{{ 'label.id'|trans }}</dt>
                <dd>{{ entity.id }}</dd>
                <dt>{{ 'label.name'|trans }}</dt>
                <dd>{{ entity.name }}</dd>
                <dt>{{ 'label.picture'|trans }}</dt>
                <dd>{{ entity.picture }}</dd>
                <dt>{{ 'label.playerShip'|trans }}</dt>
                <dd>{{ entity.playerShip }}</dd>
                <dt>{{ 'label.type'|trans }}</dt>
                <dd>{{ entity.type.name|default('label.na'|trans) }}</dd>
                <dt>{{ 'label.crew'|trans }}</dt>
                <dd>{{ entity.crew }}</dd>
                <dt>{{ 'label.shell'|trans }}</dt>
                <dd>{{ entity.shell }}</dd>
                <dt>{{ 'label.canon'|trans }}</dt>
                <dd>{{ entity.canon }}</dd>
                <dt>{{ 'label.cannonball'|trans }}</dt>
                <dd>{{ entity.cannonball }}</dd>
                <dt>{{ 'label.universe'|trans }}</dt>
                <dd>{{ entity.universe.name|default('label.na'|trans) }}</dd>
            </dl>
        </div>
    </div>
{% endblock entity_view_container %}

{% block extra_entity_view_container %}
{% endblock %}