{% extends "@green/layout-view.html.twig" %}

{% block quick_shortcut_table_container %}
    {% include "@green/bestiary/quick-shortcut-bestiary.html.twig" %}
{% endblock quick_shortcut_table_container %}

{% block action_table_container %}
    {% include "@green/bestiary/action-table-bestiary.html.twig" %}
{% endblock action_table_container %}

{% block entity_view_container %}
    <div class="panel-body">
        <div class="well">
            <dl class="dl-horizontal">
                <dt>{{ 'label.id'|trans }}</dt>
                <dd>{{ entity.id }}</dd>
                <dt>{{ 'label.name'|trans }}</dt>
                <dd>{{ entity.name }}</dd>
                <dt>{{ 'label.picture'|trans }}</dt>
                <dd><img src="{{ asset('uploads/picture/' ~ entity.picture) }}"></dd>
                <dt>{{ 'label.hide'|trans }}</dt>
                <dd>{{ entity.hide }}</dd>
                <dt>{{ 'label.universe'|trans }}</dt>
                <dd>{{ entity.universe.name|default('label.na'|trans) }}</dd>
            </dl>
        </div>
    </div>
{% endblock entity_view_container %}

{% block extra_entity_view_container %}
    {% embed "@green/templates/table-panel.html.twig" %}
        {% block table_panel_title %}{{ 'label.configuration_fields'|trans }}{% endblock %}
        {% block table_panel_th %}
            <th>#</th>
            <th>{{ 'label.name'|trans }}</th>
            <th>{{ 'label.value'|trans }}</th>
            <th>{{ 'label.description'|trans }}</th>
            <th>{{ 'label.type'|trans }}</th>
        {% endblock %}
        {% block table_panel_tr %}
            {% for fieldBestiary in entity.fieldBestiarys %}
                <tr>
                    <td><a href="{{ path('appbundle_configuration_field_view',{'id':fieldBestiary.configurationField.id}) }}">{{ fieldBestiary.configurationField.id }}</a></td>
                    <td><a href="{{ path('appbundle_configuration_field_view',{'id':fieldBestiary.configurationField.id}) }}">{{ fieldBestiary.configurationField.name }}</a></td>
                    <td>{{ fieldBestiary.value|default('label.na'|trans) }}</td>
                    <td>{{ fieldBestiary.configurationField.description|default('label.na'|trans) }}</td>
                    <td>{{ fieldBestiary.configurationField.type.name|default('label.na'|trans) }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}